<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <img class="circle-pic" src="{{user.photo}}">
        <ion-item>
          <ion-label class="text-center">Nombre</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{user.name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label  class="text-center">Dirección</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{user.address}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        
      <ion-list *ngFor="let phonei of phones">
      
        <ion-item>
          <ion-icon name="call"></ion-icon>
          <ion-label> {{phonei}} </ion-label>
        </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
