<ion-content>
  <ion-toolbar>
    <ion-title>Usuarios {{actual}} de  {{total}}</ion-title>
    <ion-title>Page {{page}}</ion-title>
   </ion-toolbar>
  <!--ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button-->

  <ion-list *ngFor="let item of items">
    <ion-item [routerLink]="['/detail']" [queryParams]="{user: item.id}">
      <ion-buttons slot="start">
        <ion-avatar>
        <img
        src="{{item.photo}}"
        >
        </ion-avatar>
      </ion-buttons>
      <div class="item-note">
        {{item.name}}
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="250px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>